
<main class="pt-8 pb-4 lg:pt-16 lg:pb-8 bg-gray-200 dark:bg-gray-600 flex justify-around flex-wrap">
    <div class="min-w_1248">
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
      <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
          <header class="mb-4 lg:mb-6 not-format">
              <address class="flex items-center mb-6 not-italic">
                  <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                      <img class="mr-4 w-16 h-16 rounded-full" src="https://avatars.dicebear.com/api/avataaars/{{post.user.dataValues.user_name}}.svg" alt="User avatar">
                      <div>
                          <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-gray-200">{{post.user.dataValues.user_name}}</a>
                          <p class="text-base font-light text-gray-500 dark:text-gray-400"></p>
                          <p class="text-base font-md text-gray-500 dark:text-gray-300"><time pubdate datetime="{{date_created}}" title="{{date_created}}">{{post.date_created}}</time></p>
                      </div>
                  </div>
              </address>
              <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-gray-200">{{post.title}}</h1>
          </header>
          <p class="lead text-base font-md text-gray-500 dark:text-gray-300">{{post.contents}}</p>
        </article>
    </div>

    <section class="bg-gray-200 dark:bg-gray-600 py-4 lg:py-8">
  <div class="max-w-2xl mx-auto px-4">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion ({{post.comments.length}})</h2>
    </div>           

{{#if loggedIn}}  {{! change this to logged in from true after testing }}
{{> comment-form}}
{{/if}}



<div id="all-comments-1248"> 

{{#each post.comments}}

<article data-commentid = {{dataValues.comment_id}} class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"><img
                        class="mr-2 w-6 h-6 rounded-full"
                        src="https://avatars.dicebear.com/api/avataaars/{{dataValues.user.dataValues.user_name}}.svg"
                        alt="{{dataValues.user.dataValues.user_name}}">{{dataValues.user.dataValues.user_name}}</p>
                <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="2022-02-08"
                        title="February 8th, 2022">Feb. 8, 2022</time></p>
            </div>
            <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                type="button">
                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                    </path>
                </svg>
                <span class="sr-only">Comment settings</span>
            </button>
                                   
            <!-- Dropdown menu -->
            <div id="dropdownComment1"
                class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownMenuIconHorizontalButton">
                    <li>
                        <div id="" 
                            class="cursor-pointer block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</div>
                    </li>
                    <li>

                        <div  
                            class=" cursor-pointer block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reply</div>
                    </li>
                    <li>
                        <div id=""
                            class="cursor-pointer block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</div>
                    </li>
                </ul>
            </div>
        </footer>
        <p class="text-gray-500 dark:text-gray-400">{{dataValues.content}}</p>
        <div class="flex items-center mt-4 space-x-4">
            <button type="button"  data-commentid = {{dataValues.comment_id}} data-creatorid = {{dataValues.creator_id}}
                class=" comment-rm-btn-1248 flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                <img  class="w-4 h-4 rounded mr-2" src="/images/remove-btn.png" alt="Medium avatar">
                
                Remove
            </button>
        </div>
    </article> 
    {{/each}}
   </div>
  </div>
</section>
</div>
    

    <aside class="sticky top-0 right-0 w-64 h-full" aria-label="Sidenav">

    
  <div class=" py-5 px-3 h-full bg-bg-gray-200  border-gray-200 dark:bg-gray-600 dark:border-gray-700">
      <ul class="space-y-2">
        
<div class="p-6 max-w-sm bg-white rounded-lg  shadow-md dark:bg-gray-900 ">
    <a href="#">
        <h5 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-200">{{post.title}}</h5>
    </a>
     <span class="mb-2 font-normal text-gray-700 dark:text-gray-400 text-m font-medium inline-flex items-center px-2.5 py-0.5 rounded ">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg text-gray5 fill-current mr-2" data-src="https://secure.meetupstatic.com/next/images/design-system-icons/time-outline.svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>icon</title>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C7.30558 20.5 3.5 16.6944 3.5 12C3.5 7.30558 7.30558 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12ZM22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM14.4697 15.5303C14.7626 15.8232 15.2374 15.8232 15.5303 15.5303C15.8232 15.2374 15.8232 14.7626 15.5303 14.4697L12.8232 11.7626C12.7763 11.7157 12.75 11.6521 12.75 11.5858L12.75 6C12.75 5.58579 12.4142 5.25 12 5.25C11.5858 5.25 11.25 5.58579 11.25 6L11.25 11.5858C11.25 12.0499 11.4344 12.495 11.7626 12.8232L14.4697 15.5303Z"></path>
                        </svg>
    {{post.meetup_date}}
                  </span>
</div>  
      </ul>
      <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700">
      <div class="p-6 max-w-sm bg-white rounded-lg  shadow-md dark:bg-gray-900 ">
<span class=" mb-4 text-2xl font-md tracking-tight text-gray-900 dark:text-gray-200 ">
       {{post.location}}
</span>
       </div>
      </ul>
        </ul>
      <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700">
      <div class="p-6 max-w-sm bg-white rounded-lg  shadow-md dark:bg-gray-900 ">
      <h5 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-200">Attendees</h5>
      <div class="flex mb-4 -space-x-3">
        {{#each attendance}}

  <div id="attendee0{{@index}}" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
     {{user_name}}
      <div class="tooltip-arrow" data-popper-arrow></div>
  </div>

  <img data-tooltip-target="attendee0{{@index}}" class="w-10 h-10 rounded-full border-2 border-white dark:border-gray-800" src="https://avatars.dicebear.com/api/avataaars/{{user_name}}.svg" alt="Medium avatar">

{{/each}}
</div>
       </div>
      </ul>
  </div>
 
</aside>

</main>








             
    

