
<div class="relative">

{{#if true}}  {{! change this to logged in from true after testing }}
{{> event-form}}
{{/if}}


<div class="px-5 py-2.5">
  {{#each posts}}
    <a
      href="/post/{{post_id}}"
      class="block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >{{title}}</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">{{contents}}</p>
      <p
        class="font-normal text-gray-700 dark:text-gray-400"
      >{{date_created}}</p>
      <p class="font-normal text-gray-700 dark:text-gray-400">By:
        {{user.dataValues.user_name}}</p>

    </a>

  {{/each}}
</div>
</div>